flask
selenium
undetected-chromedriver
selenium_stealth
requests
pillow
werkzeug
jinja2
click
blinker
h11
idna
itsdangerous
markupsafe
outcome
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
urllib3
websocket-client
websockets
wsproto
pysocks
charset-normalizer
certifi
exceptiongroup
